* {	
	-webkit-transition-duration: .2s;
	-moz-transition-property: all;
}

body{
background:#ffff;
padding:75px;
text-align:center;
}

.title-bar {
color: #333333;
font-size: 30px;
padding-bottom: 10px;
background: linear-gradient(to right, crimson,pink,springgreen);
background-size: 200% 200%;
animation: rainbow 2s ease-in-out infinite;
background-clip: text;
-webkit-background-clip:text;
color:rgba(0,0,0,1);
transition: color .2s ease-in-out;
text-transform:uppercase;
}

.title-bar, .info-bar:hover{
  color:rgba(0,0,0,0);
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}

}

.info-bar {
color: #666;
font-size: 15px;
padding-bottom: 50px;
}

.shopping-basket {
display: flex;
right: 0;
width: 40px;
display: flex;
padding-right: 30px;
flex-direction: column-reverse;
justify-content: center;
position: absolute;
height: 50px;
}

.shopping-basket:hover {
transform: scale(1.15);
cursor: pointer;
}

.btn{
color:#ffff;
background:rgba(0, 0, 0, 0.5);
padding:10px 20px;
font-size:12px;
text-decoration:none;
letter-spacing:2px;
text-transform:uppercase;
}

.btn:hover{
border:none;
background:rgba(0, 0, 0, 0.4);
background:pink;
padding:20px 20px; #000;
color:#1b1b1b;
}

.svgName {
text-align: center;
padding-bottom: 40px;
font-family: 'Fredoka One';
}

.svgStickers{
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
display: flex;
}

.svgSticker {
-webkit-filter: grayscale(100%);
width: 100px;
filter: grayscale(100%);
padding: 50px;
-webkit-transition: .3s ease-in-out;
margin: 50px;
transition: .3s ease-in-out;
border-radius: 10px;
}

.svgSticker:hover{
cursor: pointer;
opacity: 0.5;
transition: .2s ease-in-out;

}

.selected {
-webkit-filter: grayscale(0);
filter: grayscale(0);
transform: scale(1.15);
-webkit-transform: scale(1.15); 
}