* {	
	-webkit-transition-duration: .2s;
	-moz-transition-property: all;
}

body{
background:#ffff;
padding:75px;
text-align:center;
}

.title-bar {
color: #333333;
font-size: 30px;
padding-bottom: 10px;
}

.info-bar {
color: #666;
font-size: 15px;
padding-bottom: 50px;
}

.cart {
background-color: #ffff;
border-radius: 40px;
height: 70px;
width: 50px;
display: flex;
flex-direction: column-reverse;
justify-content: center;
position: absolute;
right: 0;
margin-right: 30px;
}

.cart:hover {
cursor: pointer;
transform: scale(1.15);
}

.btn{
color:#ffff;
background:rgba(0, 0, 0, 0.5);
padding:10px 20px;
font-size:12px;
text-decoration:none;
letter-spacing:2px;
text-transform:uppercase;
}

.btn:hover{
border:none;
background:rgba(0, 0, 0, 0.4);
background:pink;
padding:20px 20px; #000;
color:#1b1b1b;
}

.svgTitle {
font-family: 'Fredoka One', Courier, monospace;
text-align: center;
padding-bottom: 40px;
font-weight: bold;
}

.svgIcons{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.svgIcon {
margin: 50px;
padding: 50px;
width: 100px;
border-radius: 10px;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

.svgIcon:hover{
background: lightgrey;
transition: .3s ease-in-out;
cursor: pointer;
}

.selected {
-webkit-filter: grayscale(0);
filter: grayscale(0);
transform: scale(1.15);
-webkit-transform: scale(1.15); 
}